<form id="form1" enctype="multipart/form-data" method="post" action="/uploads">
  <div class="row">
    <label for="fileToUpload">Select a File to Upload</label><br />
    <input type="file" name="fileToUpload" id="fileToUpload"/>
  </div>
  <div id="fileName"></div>
  <div id="fileSize"></div>
  <div id="fileType"></div>
  <div class="row">
    <input type="button" id="uploadFile" value="Upload" />
  </div>
  <div id="progressNumber"></div>
</form>
